<!DOCTYPE html>
<html
        lang="pl"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Burgers Kingdom</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1 style="text-align:center">Zrób własnego burgera</h1>
<img th:src="@{/images/logo.png}" alt="logo" th:class="center"/>
<a th:href="@{/}">Strona główna</a>
<form method="POST" th:object="${design}">

        <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">Błąd składników</span>

    <div class="grid">
        <div class="ingredient-group" id="meats">
            <h3>Wybierz rodzaj mięsa:</h3>
            <div th:each="ingredient : ${meat}">
                <input name="ingredients" type="radio" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="rolls">
            <h3>Wybierz rodzaj bułki:</h3>
            <div th:each="ingredient : ${roll}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>Wybierz warzywa:</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="cheeses">
            <h3>Wybierz ser:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="others">
            <h3>Wybierz dodatki:</h3>
            <div th:each="ingredient : ${other}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>Wybierz sosy:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>
    </div>

    <div>
        <h3>Nadaj nazwę przygotowanemu burgerowi:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Błąd nazwy</span>
        <br/>
        <button>Wyślij zamówienie</button>
    </div>
</form>
</body>
</html>